@{
    ViewData["Title"] = "İletişim Bilgileri:";
}

<div class="text-center">
<h1 style=" color:purple">@ViewData["Title"]</h1>



<br />
<h2>Üniversite Sokak Omu Cad. No:4  </h2>
<h2>Atakum/SAMSUN</h2>
<h2>E-posta adresimiz:</h2>
<h3><a href="mailto:oogg.kutuphaneonline@gmail.com">"E-posta Gönder"</h3></a>
</div>